a{
  color: white;
}

body{
  margin: 0;
  background-color: black;
}
ul{
  padding: 0;
}
.center-container-main{
  margin-left: 260px;
  background: rgba(244, 237, 228, 1);

}
.menu-container{
  background-image: url(/src/assets/images/menu-bg.png);
  margin-left: 260px;
  background-attachment: fixed;
  background-color: rgba(244, 237, 228, 0.95);
  

}
.center-container-main{
  margin-left: 260px;
  padding-bottom: 3em;
}
.navbar{
  width: 260px;
  height: 100%;
  background: black;
  color: white;
  text-align: center;
  position: fixed;
}

.navbar-list{
  margin: 0;
  padding-top: 150px;
  padding-left: 0;
}
.navbar-line a{
  font-family: Saira Condensed;
  font-size: 35px;
  font-weight: 400;
  padding-bottom: 15px;
  color: white;
  text-decoration: none;
}
.under-nav{
  font-family: Saira Condensed;
  font-size: 24px;
  font-weight: 400;
  padding-top: 150px;
  color: white;
}
.fbigicons{
  display: flex;
  justify-content: center;
  gap: 30px;
}
/*navbar2*/
.navbar2{
  padding: 0;
  background-color: black;
  display: none;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 120px;
}
.navbar2-h3{
  margin: 0;
  font-family: Saira Condensed;
  font-size: 25px;
  font-weight: 400;
  color: white;
}
.navbar2-list{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0;
  align-items: center;
}
.navbar2-line{
  height: 100px;
  color: white;
}
.logo2{
  width: 100px;
}
.navbar2 a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
  font-family: Saira Condensed;
  font-size: 25px;
  font-weight: 400;
}

.navbar2-line:first-child{
  margin-right: auto;
}
/*navbar3*/
.navbar3{
  top: 0;
  background-color: black;
  position: fixed;
  height: auto;
  padding-bottom: 50px;
  width: 100%;
  z-index: 1000;
  display: none;
}
.navbar3-x{
  display: flex;
  justify-content: flex-end;
  padding: 30px 30px 15px 0;
  height: 50px;
  align-items: center;
}
.navbar3-list img{
  width: 100px;
}
.navbar3-list{
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: -30px;
}
.navbar3-line{
  padding: 0 30px;
}
.navbar3-line a{
  color: white;
  font-family: Saira Condensed;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
}
.navbar3-h3{
  font-family: Saira Condensed;
  font-size: 25px;
  font-weight: 400;
  color: white;
  padding: 0 30px;
}
.under-nav3{
  display: flex;
  padding: 10px 30px;
}
.under-nav4{
  padding: 10px 60px;
}
.fbigicons2{
  display: flex;
  justify-content: left;
  gap: 50px;
}
.fbigicons2 img{
  width: 50px;
}
.showOnMobile{
  display: none;
}
/*homepage*/
.web-image {
  background-image: url(/src/assets/images/Pizzeria.png);
  padding: 21em 5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.meal img{
  height: 300px;
  width: 300px;
}
.offers-title{
  font-family: Tinos;
  font-size: 65px;
  font-weight: 400;
  text-align: center;
}
.offers{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 20px;
}
.offer{
  text-align: center;
}

.offers-box{
  margin: 0 7%;
}
.text-n-image{
  display: flex;
  gap: 10px;
  align-items: center;
}
.textes {
  color: white;
}
.textes h1{
  font-family: Roboto Slab;
  font-size: 60px;
  font-weight: 800;
  text-shadow: 
    -1.3px -1.3px 0 #000,  
    1.3px -1.3px 0 #000,
    -1.3px 1.3px 0 #000,
    1.3px 1.3px 0 #000;
}
.textes h2{
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-shadow: 
  -0.7px -0.7px 0 #000,  
  0.7px -0.7px 0 #000,
  -0.7px 0.7px 0 #000,
  0.7px 0.7px 0 #000;
}
.textes div{
  width: 530px;
}
#text1{
  transform: 
  translateY(-820px);
  margin-left: 15%;
}
#text2{
  transform: 
  translateY(-1074px);
  margin-left: 115%;
}
#text3{
  transform: translateY(-975px);
  margin-left: 15%;
}
#text4{
  transform: translateY(-1300px);
  margin-left: 115%;
}
.title{
  font-family: Tinos;
  font-size: 55px;
  font-weight: 400;
  text-align: center;
  margin-top: 70px;   
  position: relative;
}
.meet-us-line{
  display: flex;
  justify-content: center;
  margin: 0 10%;
  gap: 80px;
  align-items: center;
}
.meet-us-text h3{
  font-family: Josefin Sans;
  font-size: 44px;
  font-weight: 500;
}
.meet-us-text p{
  font-family: Josefin Sans;
  font-size: 30px;
  font-weight: 300;
}
.meet-us-line img{
  width: 400px;
}
.meet-us{
  margin-top: -1300px;
}
#pizza-zdj{
  width: 300px;
  height: 313px;
}
.meals{
  display: grid;
  grid-template-columns: 285px 285px 285px 285px;
  justify-content: center;
}
.meal{
  text-align: center;
  margin-top: -20px; /* Negatywny margines, aby nachodziły na siebie */
}
.meals img{
  text-align: center;
  width: 300px;
}
.just-eat-h4{
  font-family: Roboto Slab;
  font-size: 27px;
  font-weight: 300;
  text-align: left;    
}
.white-text{
  color: white;
  text-decoration: none;
}
.enjoy-div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.enjoy-image-text{
  display: flex;
  justify-content: center;
  gap: 25px;
  align-items: center;
}
.just-eat-btn{
  border: black solid 1px;
  background: rgba(255, 119, 28, 1);
  color: white;
  text-align: center;
  padding: 0 10%;
  font-family: Saira Condensed;
  font-size: 30px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
  width: auto;
  min-width: 300px;
  height: 80px;
}
.just-eat-btn:hover{
  background: rgb(199, 94, 24);
}
.enjoy-list-line span{
  font-family: Roboto Slab;
  font-size: 68px;
  font-weight: 500;
}
.enjoy-list img{
  vertical-align: middle;
  padding-right: 50px;
}
.enjoy-list-line{
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  gap: 5%;
}
.enjoy-list{
  list-style: none;
}
.enjoy-text{
  text-align: center;
}
.enjoy-text h3{
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 600;
  text-align: center;    
}
.opening-hours-list{
  list-style: none;
  padding: 0;
}
.opening-hours-line{
  font-family: Roboto Slab;
  font-size: 30px;
  font-weight: 400;
}
.image1{
  width: 700px;
}
.enjoy-container{
  padding: 0 2% 100px;
}
.footer img{
  width: 100px;
}
.footer-list{
  list-style: none;
  margin-top: 40px;
  padding: 0;
  width: 230px;
  
}
.footer-list-line{
  vertical-align: middle;
  font-family: Saira Condensed;
  font-size: 24px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 15px;
  
}
.footer{
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  gap: 15%;
  padding-bottom: 3em;
  margin-left: 260px;
  align-items: center;
}
.footer-list-line span{
  color: black;
  background: rgba(217, 217, 217, 1);
  margin-top: 20px;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
}
/*menu*/
#orange{
  color: rgb(202, 132, 1);
}
a{
  text-decoration: none;
}
.menu-btn{
  font-family: Roboto Slab;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 0;
  background-color: black;
  margin: 20px;
  border-radius: 10px;
  align-items: center;
  transition: 0.5s;
  height: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-btn:hover{
  color: rgb(202, 132, 1);
}
.menu-nav-btns{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 5%;
  align-items: center;
}
.menu-title{
  font-family: Stoke;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-align: center;  
  margin: 0;
  padding: 30px 0;
}
.menu-items-title{
  font-family: Tinos;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
}
.menu-items-title-line{
  border: 2px solid black;
  margin: 20px 0;
}
#menu-line1{
  max-width: 300px;
}
.menu-items-title-box{
  margin-left: 5%;
  margin-bottom: 25px;
  margin-top: 25px;
}
.menu-items{
  padding-bottom: 50px;
}
.menu-item-name{
  font-family: Roboto Slab;
  font-size: 42px;
  font-weight: 400;
  margin: 1;
  width: 600px;
  margin: 0 0 5px;
}
.menu-item-price{
  font-family: Roboto Slab;
  font-size: 40px;
  font-weight: 400;
  margin-left: 15%;
  text-align: right;
  margin-bottom: 0;
  margin-top: 0;
  width: 500px;
}
.menu-item-top{
  display: flex;
  align-items: center;
  margin-bottom: 0;
}
.menu-item-bottom{
  margin-right: 1%;
}
.menu-item-desc{
  font-family: Josefin Sans;
  font-size: 35px;
  font-weight: 300; 
  margin: 0;
}
.menu-item-line{
  width: auto;
  border: solid black 2px;
  margin: 0;
  margin-top: 20px;
}
.menu-item{
  margin-left: 5%;
  padding: 20px;
  padding-bottom: 0;
}
/*O nas*/
.about-title{
  font-family: Tinos;
  font-size: 50px;
  font-weight: 700;
  margin: 0;
  text-align: center;
  padding: 50px 5%;
}
.about-title-box{
  margin: 0 1%;
  padding: 50px 0;
}
.about-restaurant{
  display: flex;
  margin: 0 15%;
  justify-content: center;
  gap: 100px;
  align-items: center;
}
.about-restaurant-p{
  font-family: Josefin Sans;
  font-size: 28px;
  font-weight: 300;
}
.about-team-title{
  font-family: Tinos;
  font-size: 40px;
  font-weight: 400;
  text-align: center;
}
.about-team{
  display: flex;
  margin: 0 15%;
  justify-content: center;
  gap: 100px;
  align-items: center;
  margin-bottom: 100px;
}
.about-team2{
  display: none;
  margin: 0 15%;
  text-align: center;
  gap: 100px;
  margin-bottom: 100px;
}
.about-restaurant img,
.about-team img,
.about-team2 img{
  max-height: 350px;
}
/*contact*/
.contact-content{
  display: flex;
  margin: 50px 5%;
  gap: 50px;
  align-items: center;
}
.contact-title{
  font-family: Roboto Slab;
  font-size: 50px;
  font-weight: 800;
  text-align: center;
  margin-top: 0; 
  padding-top: 50px; 
}
.contact-text{
  font-family: Josefin Sans;
  font-size: 30px;
  font-weight: 300;
}
.contact-list li{
  font-family: Varta;
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 30px;
  display: flex;
}
.contact-list img{
  vertical-align: middle;
  margin-right: 15%;

}
.contact-list{
  list-style: none;
  max-width: 600px;
  margin: 30px auto;
  margin-top: 100px;
}
.faq *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.accordion .fa-chevron-down {
  transition: transform 0.3s ease; /* Płynna animacja */
}

.accordion.active .fa-chevron-down {
  transform: rotate(180deg); /* Obrót o 180 stopni */
}
.accordion{
  font-family: Sofia Sans;
  font-size: 36px;
  font-weight: 400;
  width: 100%;
  padding: 2rem 1.5rem;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.accordion i{
  font-size: 1.2em;
}
.accordion1 i{
  font-size: 1.2em;
}
.pannel{
  padding: 0 2rem;
  overflow: hidden;
  display: none;
  max-height: 0;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}
.pannel.active {
  display: block;
  max-height: 500px; /* Przykładowa wartość, dostosuj do treści */
  padding-top: 10px;
}

.pannel p{
  font-family: Josefin Sans;
  font-size: 38px;
  font-weight: 300;
  padding: 32px 24px;
}
.line {
  opacity: 0; /* Ukrywa linię domyślnie */
  transition: opacity 0.5s ease-in-out;
}

.line.active {
  display: block; 
  border: rgba(0, 0, 0.5) 1px solid; 
  opacity: 1;
}
.wrapper h2{
  font-family: Tinos;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  line-height: normal;
}
.wrapper{
  max-width: 75%;
  margin: auto;
  margin-bottom: 100px
}
.faq{
  margin-top: 10px;
  margin-bottom: 10px;
}
.accordion{
  background: rgba(244, 237, 228, 1);
  border-bottom: rgba(0, 0, 0.5) 1px solid;
}
.accordion1{
  
  border-top: rgb(0, 0, 0) 1px solid;
  border-bottom: rgba(0, 0, 0.5) 1px solid;
}
.footer-line{
  border: solid black 1px;
  margin-bottom: 250px;
  margin-top: 100px;
}
.block{
  display: block;
}

.right-side {
  font-family: Josefin Sans;
  font-size: 30px;
  font-weight: 300;
  text-align: left;
}

.sub-title {
  color: red;
  font-family: Josefin Sans;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px; /* Odstęp między tytułem a tekstem */
  text-align: left;
}

.text-container {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 694px;
  margin-top: 60px;
  margin-right: 150px;
}
/*media*/
@media (max-width: 1750px){
  .offer-text h3{
      font-size: 35px;
  }
  .offer-text p{
      font-size: 25px;
  }
  .image1{
      width: 750px;
  }
  .enjoy-list-line{
      display: block;
  }
  .enjoy-div{
      display: flex;
      justify-content: center;
      vertical-align: middle;
  }
  .just-eat-btn{
      margin-top: 30px;
  }
}




@media (max-width: 1670px){
  .meet-us-text h3{
      font-size: 45px;
  }
  .meet-us-text p{
      font-size: 30px;
  }
  .meet-us-line{
      gap: 25px;
  }
  .offers-title{
      font-size: 52px;
  }

  .image2{
    width: 500px;
    height:400px;
  }
}
@media (max-width: 1630px){

  .offers-box{
    margin: 0 0.5%;
  }
}
@media (max-width: 1560px){
  .text-n-image{
      display: block;
  }
  .offers-title{
      margin: 40px auto;
  }

  .offer-text p{
      text-align: center;
  }
  .just-eat-h4{
      font-size: 25px;
      text-align: center;
  }
  .just-eat-btn{
      font-size: 25px;
  }
  .enjoy-text h3{
      font-size: 35px;
  }
  .opening-hours-line{
      font-size: 32px;
  }
  .about-restaurant-p{
    font-size: 25px;
  }
  .about-restaurant,
  .about-team2{
    display: block;
  }
  .about-team{
    display: none;
  }
  .about-restaurant{
    text-align: center;
  }

}
@media (max-width: 1505px) {
  .offer img{
    width: 400px;
  }
  .meet-us{
    margin-top: -900px;
  }
  .textes h1{
    font-size: 42px;
  }
  .textes h2{
    font-size: 28px;
  }
  #text1{
    transform: translateY(-580px);
    margin-left: 20%;
  }
  #text2{
    transform: translateY(-755px);
    margin-left: 120%;
  }
  #text3{
    transform: translateY(-670px);
    margin-left: 20%;
  }
  #text4{
    transform: translateY(-900px);
    margin-left: 120%;
  }
  .text h1{
    font-size: 40px;

}
}
@media (max-width: 1480px){
  .meet-us-line{
      margin: 0 2%;
  }
  .menu-btn{
    font-size: 32px;
  }
  .meals{
    grid-template-columns: 285px 285px 285px;
  }
  .meal-hom1{
    display: none;
  }

}
@media (max-width: 1440px){
  .enjoy-image-text{
      display: block;
      text-align: center;
  }

}
@media (max-width: 1420px){
  .offers-title{
      font-size: 40px;
  }
}
@media (max-width: 1370px){
  .about-restaurant-p{
    font-size: 20px;
  }
  .menu-nav-btns{
    grid-template-columns: 1fr 1fr;
  }
  .menu-title{
    font-size: 54px;
  }

.contact-title{
  font-size: 40px;
}
.contact-text{
  font-size: 25px;
}
.contact-list li{
  font-size: 25px;
}
.contact-list img{
  width: 50px;
  height: 51px;
  margin-right: 2%;
}
.contact-content{
  margin: 0 2%;
}
}
@media (max-width: 1300px){
  .meet-us-line{
      display: block;
      text-align: center;
  }


}
@media (max-width: 1240px){
  .footer{
      gap: 7%;
  }
  .footer-list-line{
      text-align: center;
  }

}
@media (max-width: 1180px){

  .image2{
    width: 300px;
    height: 200px;
  }
  .meals{
    grid-template-columns: 285px 285px;
  }
}
@media (max-width: 1120px){

}
@media (max-width: 1200px){
  .offers{
      display: block;
  }
  #text1{
    transform: translateY(-1100px);
    margin-left: 32%;
  }
  #text2{
    margin-left: 32%;
    transform: translateY(-1000px);
  }
  #text3{
    margin-left: 32%;
    transform: translateY(-940px);
  }
  #text4{
    margin-left: 32%;
    transform: translateY(-880px);
  }
  


}
@media (max-width: 1050px){
  .navbar{
      display: none;
  }

  .center-container{
      margin-left: 0;
      padding-top: 120px;
  }
  .center-container-main{
    margin-left: 0;
}

  .navbar2{
    display: flex;
  }
  .footer{
    margin-left: 0;
  }
  .fbigicons{
    display: block;
  }
  .fbigicons img{
    margin: 0 1%;
    width: 40px;
  }
}
@media (max-width: 1000px){
  .image1{
      width: 800px;
      height: 500px;
  }
  .contact-content{
    display: block;
    text-align: center;
  }
  .contact-list li{
    justify-content: center;
    width: auto;
    font-size: 25px;
    display: block;
    width: auto;
  }
  .contact-title{
    font-size: 30px;
  }

  .contact-text{
    font-size: 27px;
  }
  .image2{
    width: 700px;
    height: 400px;
  }
  .wrapper h2{
    font-size: 40px;
  }
}

@media (max-width: 985px){
  .hideOnMobile{
    display: none;
  }
  .showOnMobile{
    display: block;
  }

}
@media (max-width: 880px){
  .meet-us-line img{
      width: 400px;
  }

  .image1{
    width: 650px;
    height: 350px;
}
}
@media (max-width: 820px){

  .about-title{
    font-size: 45px;
  }
  .about-team-title{
    font-size: 35px;
  }

}
@media (max-width: 785px){

  .about-team2 img,
  .about-restaurant img{
    max-height: 300px;
  }
  .about-restaurant-p{
    font-size: 20px;
  }
  .menu-item-price{
    font-size: 30px;
  }
  .menu-item-name{
    font-size: 32px;
  }
  .menu-item-desc{
    font-size: 27px;
  }
  .menu-items-title{
    font-size: 40px;
  }
}
@media (max-width: 750px){

    .pannel p{
        font-size: 25px;
        padding: 10px;
        text-align: center;
    }
    .pannel{
        padding: 0 5px;
    }
    .image2{
      width: 500px;
      height: 300px;
    }
    .menu-nav-btns{
      grid-template-columns: 1fr;
    }
    .menu-title{
      font-size: 40px;
    }



  .pizza-box,
  .przystawki-box,
  .salads-box,
  .drinks-box{
    scale: 0.25;
  }
  .przystawki-box{
    margin-right: -250px;
  }
  .pizza-box{
    margin-right: -260px;
  }





}

@media (max-width: 665px){

}
@media (max-width: 678px){
  .offer img{
      width: 285px;
  }
  .meet-us{
    margin-top: -680px;
  }
  #text1{
    transform: translateY(-790px);
  }
  #text2{
    transform: translateY(-720px);
    
  }
  #text3{
    transform: translateY(-670px);
  }
  #text4{
    transform: translateY(-655px);
  }
  .textes h1{
    font-size: 30px;
  }
  .textes h2{
    font-size: 25px;
  }
  .image1{
    width: 400px;
    height: 270px;
}
}
@media (max-width: 630px){
  .meal img{
    width: 200px;
    height: 200px;
  }
  .meals{
    grid-template-columns: 185px 185px;
  }
  .meal-hom2{
    display: none;
  }
  .title{
      font-size: 50px;
  }
  .footer{
    display: block;
    text-align: center;
    padding-top: 10px;
}   
.footer-list{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.navbar3-h3{

  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
.navbar3-line{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}
.navbar3-list img{
  width: 70px;
}

.navbar3-list{
  margin-top: -40px;
}
}
@media (max-width: 590px) {
  .menu-item-top{
    display: block;
    text-align: center;
  }
  .menu-item-price{
    margin: 0;
    width: auto;
    text-align: center;
  }
  .menu-item-name{
    width: auto;
    max-width: none;
    min-width: none;
    text-align: center;
  }
}
@media (max-width: 560px){

  .image2{
    width: 300px;
    height: 200px;
  }


}
@media (max-width: 520px){
  .meet-us-line img{
      width: 300px;
  }
  .meet-us-text h3{
      font-size: 30px;
  }
  .meet-us-text p{
      font-size: 20px;
  }
  #text1, #text2, #text3, #text4{
    margin-left: 25%;
  }


}
@media (max-width: 476px) {
  .about-restaurant img,
  .about-team2 img{
    max-height: 200px;
  }
  .about-restaurant-p{
    font-size: 15px;
  }
  .about-team-title{
    font-size: 30px;
  }
  .about-title{
    font-size: 40px;
  }
}
@media (max-width: 450px){


}
@media (max-width: 440px){
  .title{
      font-size: 40px;
  }
  .image1{
    width: 290px;
}
  .meals{
    grid-template-columns: 185px;
  }
  .meal-hom3{
    display: none;
  }

}
@media (max-width: 400px){
  .opening-hours-line{
      font-size: 20px;
  }

  .under-nav3{
    display: block;
  }
}
@media (max-width: 390px){
  .offer img{
      width: 200px;
  }
  .meet-us{
    margin-top: -500px;
  }
  .meet-us-line img{
      width: 200px;
  }
  .textes h1{
    font-size: 22px;
  }
  .textes h2{
    font-size: 20px;
  }
  #text1{
    transform: translateY(-570px);
  }
  #text2{
    transform: translateY(-535px);
  }
  #text3{
    transform: translateY(-505px);
  }
  #text4{
    transform: translateY(-490px);
  }


}
@media (max-width: 368px){
  .title{
      font-size: 30px;
  }
  .navbar3 a,
  .navbar3-h3{
    font-size: 20px;
  }
}
@media (max-width: 350px){
  .offers-title{
      font-size: 30px;
  }
  .image2{
    width: 250px;
  }
  .just-eat-btn{
    padding-left: 5%;
    padding-right: 5%;
    min-width: 200px;
  }
  .menu-nav-btns{
    margin:0 0.5%;
  }
}
@media (max-width: 340px){

  #odmieniec{
    margin-top: 130px;
  }
  .menu-btn{
    font-size: 30px;
  }
}